.groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4rem 0;
}

.group {
    display: flex;
    align-items: stretch;
    border: 2px solid var(--color-grey-3);
    border-radius: var(--radius-small);
    text-decoration: none;
    color: var(--color-secondary);
    transition: 200ms ease;
}

.group:hover {
    transform: translateX(1rem);
}

.groups .group {
    border-radius: 0;
    margin-bottom: -2px;
}

.groups .group:first-child {
    border-radius: var(--radius-small) var(--radius-small) 0 0;
}

.groups .group:last-child {
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    margin-bottom: 0;
}

.group > p {
    margin: 0;
    height: 100%;
    flex: 1 1 auto;
    padding: 0.6rem 1rem;
    background-color: var(--color-primary);
    border-right: 2px solid var(--color-grey-3);
}

.group > div {
    flex: none;
    margin: 0;
    width: 8rem;
    padding: 0.6rem;
    text-align: right;
    background-color: var(--color-grey-4);
}
