:root {
    --color-accent: red;
    --color-primary: white;
    --color-secondary: black;

    --radius-small: 0.25rem;

    --gap-mini: 0.25rem;
    --gap-small: 0.5rem;
    --gap-regular: 0.8rem;
    --gap-medium: 1.3rem;
    --gap-large: 2rem;
}

.row {
    display: flex;
    gap: var(--gap-small);
}

.center {
    justify-content: center;
    align-items: center;
}
