{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <p>{{ group.description }}</p>

    <h2>Membres</h2>
    <ul>
        {% for member in group.members.all %}
        <li>{{ member.username }}</li>
        {% endfor %}
    </ul>

    <h2>Soldes</h2>
    <ul>
        {% for balance in balances %}
        <li>{{ balance.member.username }}:
            {% if balance.balance > 0 %}
            <span style="color: green;">doit {{ balance.balance }} au groupe</span>
            {% elif balance.balance < 0 %}
            <span style="color: red;">est dû {{ balance.balance|custom_abs }} par le groupe</span>
            {% else %}
            est à jour
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2>Actions</h2>
    
    <div style="margin-bottom: 1rem;">
        <div style="margin-bottom: 1rem;"><a class="button secondary" href="{% url 'add_expense' group.id %}">Ajouter une dépense</a></div>
        <div style="margin-bottom: 1rem;"><a class="button secondary" href="{% url 'add_member' group.id %}">Ajouter un membre</a></div>
        <div style="margin-bottom: 1rem;"><a class="button secondary" href="{% url 'edit_group' group.id %}">Modifier le groupe</a></div>
    </div>

    <div class="groups">
        <h2>Dépenses</h2>
        <p>Total des dépenses: {{ total_amount }} €</p>
        {% for expense in expenses %}
            <div class="group">
                <p>{{ expense.description }} <span style="font-size: 0.8rem;">({{ expense.payer.username }})</span></p>
                <div>{{ expense.amount }} €</div>
            </div>
        {% endfor %}
    </div>

    <form method="post" action="{% url 'delete_group' group.id %}">
        {% csrf_token %}
        <button class="glow" type="submit">Supprimer le groupe</button>
    </form>
{% endblock %}
